.radio {
    display: flex;
    justify-content: start;
    margin-left: 80px;

}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    margin-top: 10px;
}

.options {
    margin-left: 20px;
}
