.App {
    margin: 0 auto;
    width: 1200px;
    text-align: center;
}

.hw {
    margin: 20px;
}

.hwTitle {
    margin: 20px;
    padding: 10px;
    border-bottom: black 1px solid;
    background-color: #bacde1;
    text-align: start;
    font-size: large;
    font-weight: bold;
}